#
# StatWiki configuration file.
#


[general]

# The output of the page set here will be index.html. Defaults to "index".
indexpagename: Wiki

# Time format as defined by time.strftime() Python function. Defaults to "%H:%M, %d %B %Y".
#timeformat: %H:%M, %d %B %Y

# Set to 0 to disable automatic creation of links from CamelCase words. Defaults to 1 (enabled).
#camelcase: 1

# Set to 1 to enable target="_blank" attribute for external links. Defaults to 0 (disabled).
#targetblank: 0


[template]

# Default HTML template file. Defaults to "_template.html"
default: template/default.html

# Optional HTML template for pages with sidebar. Defaults to the default template.
#sidebar: _template_sidebar.html


[ftp]

# FTP server host. Used by --synchronize switch.
#host: 

# FTP server port, defaults to 21.
#port: 21

# FTP account credentials.
#username: 
#password: 

# Remote path to the wiki directory.
#path: 

# Set to 0 to disable passive FTP transfers. Defaults to 1 (enabled).
#passive: 1


[text]

# Displayed at the bottom of a page belonging to a category.
#category: Category: %(name)s

# Displayed on a category page above the list of subpages.
#subpages: Pages in category "%(name)s"
